<div  *ngIf="hide">

    <div >
      <div >
        <div>
        <h5>Modal title</h5>
  
        </div>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia assumenda distinctio id magnam alias laborum pariatur architecto, eligendi ullam aut, aliquid vero dolorum commodi dignissimos, doloribus facere fuga labore aperiam.</p>
      </div>
      <div>
        <button type="button" (click)="hideModal()">hide</button>
      </div>
    </div>
  </div>